body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea al inicio verticalmente */
  min-height: 100vh;
  padding-top: 50px; /* Un poco de espacio arriba */
}